
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://images6.alphacoders.com/549/549198.jpg');">
  <div class="container">
    <h1>Sustainable Experiences</h1>
    <p>Find the latest bike models to whizz around
      <br>town without leaving the comfort of your home</p>
      <a class="btn btn-ghost-filled" href="#">Book a bike</a>
      <!-- <a class="btn btn-ghost" href="#">List a bike</a> -->
      <%= link_to 'List a bike', new_bike_path, class: "btn btn-ghost" %>
    </div>
  </div>



  <div class="container" style="width:500px;">
    <div class="row justify-content-centre">
      <div class="col-12">
        <br>
        <br>
        <h3 class="text-center">Bike of the day</h3>
        <p class="text-center">Our assortment includes some of the best brands in town.</p>

        <div class="card-trip">
          <% @bikes_featured.each do |bike| %>
              <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fupload.wikimedia.org%2Fwikipedia%2Fcommons%2Fthumb%2F1%2F1f%2FNorco_Range.jpg%2F1200px-Norco_Range.jpg&f=1&nofb=1" alt="bike">
          <div class="card-trip-infos">
            <div>
              <div>
                <strong>Brand:</strong>
                <%= bike.brand %>
              </div>

              <div>
                <strong>Frame Size:</strong>
                <%= bike.frame_size %>
              </div>

              <div>
                <strong>Type of Bike:</strong>
                <%= bike.bike_type %>
              </div>

              <div>
                <strong>Location:</strong>
                <%= bike.location %>
              </div>

              <div>
                <strong>Description:</strong>
                <%= bike.description %>
              </div>

              <% end %>
            </div>
            <h2 class="card-trip-pricing">€15.00</h2>
          </div>
        </div>
      </div>
    </div>
  </div>




  <%#= asset_path 'foo.jpg' %>

