
<div class="container" > 
  <div class="row">
    <div class="col-8" style="display: flex; justify-content: space-between; flex-wrap: wrap">
      <% @bikes.each do |bike| %>
        <span class=" m-1.5 pb-1 mt-1.5">
          <div class="p-2 mb-2 bg-white">
            <div class="card-product"> 
              <div class="card-product img">
                <%= cl_image_tag bike.photo.key if bike.photo.attached?%>
            </div>
              <div class="p-3">
                <div class="card-product p">
                  <p><b>Brand</b> : <%=bike.brand%></p>
                  <p><b>Frame size</b> : <%=bike.frame_size%></p>
                  <p><b>Type</b> : <%=bike.bike_type%></p>
                  <p><b>Description</b> : <%=bike.description%></p>
                </div>
              </div>
          </div> 
            <div class="link_button p-1">
              <p><%= link_to 'See this bike', bike_path(bike.id), class: "btn-ghost-filled" %></p>
            </div>
          </div>
        </span>
      <% end %>
    </div>
    <div class="col-4">
      <div id="map"
        style="width: 100%; height: 460px;"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
  
    </div>
  </div>
</div>


   

