
<p class="h3">Bikes around you</p>

<div class="container">

  <% @bikes.each do |bike| %>  
    <div class="card-product">
      <%= cl_image_tag bike.photo.key %>
      <div class="card-product-infos">
        <p><%=bike.brand%></p>
        <p><%=bike.frame_size%></p>
        <p><%=bike.bike_type%></p>
        <p><%=bike.description%></p>
        <p><%= link_to 'See this bike', new_bike_path, class: "btn-ghost-filled" %></p>
      </div>
    </div>
  <% end %> 
</div>

