<h2 class="text-center mt-2">
    Bikes around you
</h2>
<div class="container" style="display:flex; space justify-content:space-around; justify-content: space-between"> 
  <% @bikes.each do |bike| %>
    <div class="p-2 mb-2 bg-white">  
      <div class="card-product">
        <div class="card-product img">
          <%= cl_image_tag bike.photo.key %>
        </div>
        <div class="card-product-infos">
          <p><%=bike.brand%></p>
          <p><%=bike.frame_size%></p>
          <p><%=bike.bike_type%></p>
          <p><%=bike.description%></p>
          <p class= "p-2" ><%= link_to 'See this bike', bike_path(bike.id), class: "btn-ghost-filled" %></p>
        </div>
      </div>
    </div>
  <% end %>
  
       
        
</div>
