<div class="container" style="width:400px;">
  <div class="row justify-content-centre">
    <div class="col-12">
      <br>
      <h2>Join our community</h2>
      <br>
      <%= simple_form_for(@bike) do |f| %>

        <div class="form-inputs">
          <%= f.input :location %>
        </div>

        <div class="form-inputs">
            <%= f.input :brand %>
        </div>

        <div class="form-inputs">
            <%= f.input :frame_size %>
        </div>


        <div class="form-inputs">
          <%= f.input :bike_type %>
        </div>

        <div class="form-inputs">
          <%= f.input :description %>
        </div>


        <div class="bike_image">
          <%= f.input :photo, as: :file %>
        </div>

        <div class="button">
          <div class="row justify-content-center">
          
          <p><%= f.submit "Add your Bike", class: "btn-ghost-filled" %>
          <%= link_to 'Bike list', bikes_path, class: "btn btn-ghost"%>
          <%= link_to 'Back', bikes_path, class: "btn btn-ghost" %>
          </p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
