<div class="container">
  <div class="row">
    <div class="col-6">
      <%= simple_form_for(@bike) do |f| %>

        <div class="form-inputs">
          <%= f.input :location %>
        </div>

        <div class="form-inputs">
            <%= f.input :brand %>
        </div>

        <div class="form-inputs">
            <%= f.input :frame_size %>
        </div>


        <div class="form-inputs">
          <%= f.input :bike_type %>
        </div>

        <div class="bike_image">
          <%= f.input :photo, as: :file %>
        </div>

        <div class="bike_image">
          <%= f.submit "Add your Bike", class: "btn btn-ghost"%>
        </div>

      <% end %>

      <p>
        <%= link_to 'Back', bikes_path, class: "btn btn-ghost" %>
        <%= link_to 'Bike list', bikes_path, class: "btn btn-ghost"%>
      </p>
    </div>
  </div>
</div>
