<div class="container" style="width:500px;">
  <div class="row justify-content-center">
    <div class="col-12">
      <br>
      <p id="notice"><%= notice %></p>
      <div class="card-trip">
        <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fupload.wikimedia.org%2Fwikipedia%2Fcommons%2Fthumb%2F1%2F1f%2FNorco_Range.jpg%2F1200px-Norco_Range.jpg&f=1&nofb=1" alt="bike">
        <div class="card-trip-infos">
          <div>
            <p>
              <strong>Brand:</strong>
              <%= @bike.brand %>
            </p>

            <p>
            <strong>Frame Size:</strong>
              <%= @bike.frame_size %>
            </p>

            <p>
              <strong>Type of Bike:</strong>
              <%= @bike.bike_type %>
            </p>

            <p>
              <strong>Location:</strong>
              <%= @bike.location %>
            </p>

            <p>
              <strong>Description:</strong>
              <%= @bike.description %>
            </p>

            <!-- <p>
              <strong>User:</strong>
              <%#= @bike.user_id %>
            </p> -->
          </div>
          <h2 class="card-trip-pricing">€15.00</h2>
        </div>
      </div>
      <br>
      <div class="link_button">
        <p><%= link_to 'Book', new_bike_booking_path(@bike), class: "btn btn-ghost-filled"%></p>
        <p><%= link_to 'Back to our bikes', bikes_path, class: "btn btn-ghost"%></p>
      </div>
    </div>



    <%# class="fas fa-heart" %>
